.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.bold {
  font-weight: 500;
  font-size: 30px;
}
.line {
  height: 90px;
  font-size: 50px;
  color: rgb(145, 145, 145);
  font-weight: lighter;
  margin: auto 20px;
}
