body {
  background-color: #f2f6fc !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 0.9rem !important;
  color: #2b2b2b !important;
  line-height: 1.5 !important;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
.bg-light {
  background-color: #ffffff !important;
}

button,
a,
link,
input,
select,
textarea {
  border-radius: 0px !important;
}

.table > :not(:first-child) {
  border-top: 0 !important;
}

/* CopyRight */

footer {
  position: fixed;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100%;
  bottom: -45px;
  right: -480px;
  z-index: 999;
  transform: rotate(-90deg);
}

#watermark::after {
  position: absolute;
  background-image: url('/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 22px;
  content: ' ';
}
