$primary: #14223e;
$secondary: #7f7f7f;
$danger: #f337ae;
$dark: #132235;
$light: #fff;

@import '../node_modules/bootstrap/scss/bootstrap';

button,
a,
link,
input,
select,
textarea {
  border-radius: 0px !important;
}

body {
  background-color: #f2f6fc !important;
  font-family: 'Roboto', sans-serif !important;
  color: #2b2b2b !important;
  line-height: 1.5 !important;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
